.summaryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin: 1rem;
  position: relative;
  width: 91%;
}

.flexBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}

.sideColumn {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 30%;
}

.mainColumn {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 70%;
}

.headerWrapper {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  padding: 2rem;
  margin: 1rem;
  width: 100%;
  position: relative;
}
