.summaryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin: 1rem;
  position: relative;
}

.flexBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sideColumn {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 30%;
}

.mainColumn {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 70%;
}

.headerWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  justify-content: space-between;
  margin: 1rem 1rem 0 1rem;
  width: 100%;
  position: relative;
}

.insights {
  padding: 0 2rem;
  margin: 0 1rem;
}
