.loaderWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  background: url("../../assets/loader.svg") no-repeat center;
  background-size: contain;
  width: 3rem;
  height: 3rem;
}
