.flexBox {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 80%;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  margin: 1rem;
  top: 50px;
  border-radius: 8px;
  position: relative;
}

.accountWrapper {
  padding: 20px;
  margin: 1rem 1rem 15rem 1rem;
  width: 100%;
  top: 50px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  h3 {
    font-size: 20px;
    margin-top: 20px;
    color: #333;
  }

  .section {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 6px;
    background: white;

    strong {
      font-weight: bold;
    }
  }

  .accounts,
  .identity,
  .institutions {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.monthSwitcher {
  span {
    display: inline-block;
    width: 130px;
    position: relative;
    text-align: center;
  }
}
