.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-primary;
  color: $color-text-white;
  box-shadow: $box-shadow;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 10;
}

.logoWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 120px;
  overflow: hidden;
  padding: 0.5rem 1rem;
}

.logo {
  font-size: 2rem;
  font-weight: 600;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-family: $font-main;
}

.logoSubtext {
  font-size: 0.5rem;
  font-weight: 100;
  letter-spacing: 0.03rem;
  font-family: Georgia, serif;
}

.logoutButton {
  background: $color-danger;
  color: $color-text-white;
  border: none;
  padding: 0.5rem 1rem;
  font-weight: 500;
  border-radius: 6px;
  display: flex;
  position: relative;
  cursor: pointer;
  right: 20px;
  transition: background 0.2s ease-in-out;

  &:hover {
    background: $color-danger;
  }

  svg {
    margin: 0 0.2rem 0 0;
  }
}
