.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  background: $color-bg-06;
  z-index: 10;
  border-bottom: 1px solid $color-border;
  width: 100%;
  height: 60px;

  backdrop-filter: $blur-01;
  -webkit-backdrop-filter: $blur-01;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background: $color-primary;
  // color: $color-text-white;
  // box-shadow: $box-shadow;
  position: fixed;
  top: 0;
  max-width: 80%;
  min-width: 50%;
  margin: 1rem auto;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  border-radius: 15px;
  justify-content: flex-start;
  gap: 0;
  width: 90px;
  padding: 0;
}

.navItem {
  color: $color-text;
  padding: 0.5rem;
  margin: 0 0.6rem;
  font-weight: 500;
  text-decoration: none;
  background: transparent;
  border-radius: 6px;
  display: flex;
  position: relative;
  cursor: pointer;
  flex: 1 1 0;
  height: 30px;
  padding: 0;
  text-align: center;
  font-size: 0.8rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;

  &:hover {
    transition: all 0.1s ease-in-out;
    background: $color-accent;
    color: $color-text-white;
    transform: scale(1.05);
  }

  svg {
    margin: 0 0.2rem 0 0;
  }
}

.active {
  transition: all 0.1s ease-in-out;
  background: $color-accent;
  color: $color-text-white;
  box-shadow: $box-shadow;
}

.logoWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  margin: 0.1rem auto;
  overflow: visible;
  z-index: 10;
  border-radius: 15px;
}

.logo {
  height: 40px;
  width: 40px;
  overflow: visible;
  margin: 0.6rem 2rem;
  cursor: pointer;
  position: relative;
  border-radius: 6px;
  box-shadow: $box-shadow;
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.06);
    transition: transform 0.1s ease-in-out;
  }
}

.logoutButtonWrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  position: fixed;
  top: 3px;
  width: auto;
  right: 20px;
  margin: 0.1rem auto;
  overflow: visible;
  z-index: 10;
  border-radius: 15px;
}

.logoutButton {
  font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Roboto",
    sans-serif;
  background: $color-danger;
  color: $color-text-white;
  border: 2px solid rgb(238, 233, 233);
  padding: 0.5rem 1rem;
  margin: 0.6rem 2rem;
  font-weight: 500;
  font-size: 1.2rem;
  border-radius: 6px;
  display: flex;
  position: relative;
  cursor: pointer;
  left: 20px;
  transition: all 0.2s ease-in-out;

  &:hover {
    border-color: rgb(255, 114, 20);
    transition: all 0.1s ease-in-out;
  }

  svg {
    margin: 0 0.2rem 0 0;
  }
}
