.essential-data {
  padding: 20px;
  margin: 1rem;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  top: 100px;
  position: relative;
  h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  h3 {
    font-size: 20px;
    margin-top: 20px;
    color: #333;
  }

  .section {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 6px;
    background: white;

    strong {
      font-weight: bold;
    }
  }

  .accounts,
  .identity,
  .institutions {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
