.essential-data {
  padding: 20px;
  margin: 1rem 1rem 15rem 1rem;
  width: 100%;
  top: 50px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  h3 {
    font-size: 20px;
    margin-top: 20px;
    color: #333;
  }

  .section {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 6px;
    background: white;

    strong {
      font-weight: bold;
    }
  }

  .accounts,
  .identity,
  .institutions {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.monthSwitcher {
  span {
    display: inline-block;
    width: 130px;
    position: relative;
    text-align: center;
  }
}

.loading,
.loading * {
  opacity: 0.5;
  cursor: wait;
  user-select: none;
  pointer-events: none;
}

.noData,
.loadingData {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  vertical-align: middle;
  top: 50px;
}
